* {
    border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*{
	font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 500px){
	p {
		display: none;
	}
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
    padding: 10px;
}

.col-2 {
    width: 16.66%;
    padding: 10px;
}

.col-3 {
    width: 25%;
    padding: 10px;
}

.col-4 {
    width: 33.33%;
    padding: 10px;
}

.col-5 {
    width: 41.66%;
    padding: 10px;
}

.col-6 {
    width: 50%;
    padding: 10px;
}

.col-7 {
    width: 58.33%;
    padding: 10px;
}

.col-8 {
    width: 66.66%;
    padding: 10px;
}

.col-9 {
    width: 75%;
    padding: 10px;
}

.col-10 {
    width: 83.33%;
    padding: 10px;
}

.col-11 {
    width: 91.66%;
    padding: 10px;
}

.col-12 {
    width: 100%;
    padding: 10px;
}

#info {
	display: none;	
}

#meta {
	display: none;	
}

#setup {
	display: none;	
}

#sequences {
	display: none;	
}

#presets {
	display: none;	
}